/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
/* 
.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
} */

/* When its collapse on mobile Device */
/* 
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
} */

.rounded-image {
    width: 250px;
    height: 250px;
    border-radius: 100%;

}

a:hover {
    text-decoration: none;
}


.User-name {
    margin-top: 25px;

}

.profile-stats {
    margin-top: 25px;
}

.profile-user-settings {
    margin-top: 25px;
}

/* Gallary Style */

img {
    display: block;
}

.gallery {
    position: relative;
    z-index: 2;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-around;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.gallery.pop {
    -webkit-filter: blur(10px);
    filter: blur(10px);
}

.gallery figure {
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
    padding: 10px;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;

}

.gallery figure img {
    width: 100%;
    border-radius: 10px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.gallery figure figcaption {
    display: none;
}

.popup {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.75);
    opacity: 0;
    -webkit-transition: opacity .5s ease-in-out .2s;
    transition: opacity .5s ease-in-out .2s;
}

.popup.pop {
    opacity: 1;
    -webkit-transition: opacity .2s ease-in-out 0s;
    transition: opacity .2s ease-in-out 0s;
}

.popup.pop figure {
    margin-top: 0;
    opacity: 1;
}

.popup figure {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    margin-top: 30px;
    opacity: 0;
    -webkit-animation: poppy 500ms linear both;
    animation: poppy 500ms linear both;
}

.popup figure img {
    position: relative;
    z-index: 2;
    border-radius: 15px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 6px 30px rgba(0, 0, 0, 0.4);
}

.popup figure figcaption {
    position: absolute;
    bottom: 50px;
    background: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.78));
    background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.78));
    z-index: 2;
    width: 100%;
    border-radius: 0 0 15px 15px;
    padding: 100px 20px 20px 20px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
}

.popup figure figcaption small {
    font-size: 11px;
    display: block;
    text-transform: uppercase;
    margin-top: 12px;
    text-indent: 3px;
    opacity: .7;
    letter-spacing: 1px;
}

.popup figure .shadow {
    position: relative;
    z-index: 1;
    top: -15px;
    margin: 0 auto;
    background-position: center bottom;
    background-repeat: no-repeat;
    width: 98%;
    height: 50px;
    opacity: .6;
    -webkit-filter: blur(15px) contrast(2);
    filter: blur(15px) contrast(2);
}

.popup .close {
    position: absolute;
    z-index: 3;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    background: url(#close);
    border-radius: 25px;
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.popup .close svg {
    width: 100%;
    height: 100%;
}

/*Profile Picc*/
.file-upload {
    display: none;
}

.circle {}
